@page "/Home"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Appointment Scheduling System</h1>

<button class="btn btn-primary" @onclick="GoToLoginPage">Logout</button>

@code {
    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/");
    }
}
